

UTAC is an application to read temperature and humidity values from TEMPer devices which are manufactured by Shenzen RDing Tech.


== Information ==

More information can be found at Albert Huntington his UTAC page:

  http://www.alsgh.com/utac/


Branch main developer is Ramon Smits (http://ramonsmits.com).


== Branch source ==

The original developers is Björn Böttcher and continued by Albert Huntington from which this project is based on. The first commit was based on Albert Huntington v0.1.2o.


== Reason for branching ==

Ramon Smits branched his work because of some really annoying issues especially on Vista and Windows 7 with UAC enabled and he did not want to bother Albert to much as I can easily modify the application myself.


